body {
    font-family: 'Prompt', sans-serif !important;
    background-color: #1a1a1a !important;
}

.nav-item a {
    font-size: 19px;
    color: whitesmoke;
    font-weight: 700;
    margin-left: 1em;
}

.nav {
    padding-bottom: 0.5em;
    margin-right: 4em;
}

.nav .nav-item .active {
    color: rgb(255, 193, 7);
    border-bottom: 2px solid rgb(255, 193, 7);  
}

.nav .nav-item .nav-link:hover {
    color: rgb(255, 193, 7);
}

header h3 {
    font-family: 'Architects Daughter', cursive;
    color: whitesmoke;
    margin-left: 0.5em;
    margin-top: auto;
}

header .buttons-group #btn-1 {
    background-color: rgb(85, 81, 81);
    font-weight: 700;
    color: rgb(255, 193, 7);
}

header .buttons-group #btn-2 {
    background-color: rgb(255, 193, 7);
    font-weight: 700;
    color: rgb(85, 81, 81);
}
